{% extends 'base_admin.html' %}

{% block content %}

<h1>Registrar Gasto</h1>

<form action="{% url 'guardar_gasto' %}" method="POST">
    {% csrf_token %}

    <p>
        <label>Concepto:</label>
        <input type="text" name="concepto" required>
    </p>

    <p>
        <label>Categoría:</label>
        <select name="categoria" required>
            <option value="INSUMOS">Insumos</option>
            <option value="SERVICIOS">Servicios</option>
            <option value="NOMINA">Nómina</option>
            <option value="OTROS">Otros</option>
        </select>
    </p>

    <p>
        <label>Valor:</label>
        <input type="number" name="valor" required>
    </p>

    <p>
        <label>Método de Pago:</label>
        <select name="metodo_pago" required>
            <option value="EFECTIVO">Efectivo </option>
            <option value="TRANSFERENCIA">Transferencia </option>
            <option value="TARJETA">Tarjeta Débito/Crédito</option>
        </select>
    </p>

    <button type="submit">Guardar Gasto</button>
    <a href="{% url 'inicio_contabilidad' %}">Cancelar</a>
</form>

{% endblock %}